<aside class="content__sidebar">
  <div class="content__sidebar-info">
    <h3 class="content__sidebar-title">Подборки фильмов и сериалов</h3>
    <div class="content__sidebar-items">
      <app-sidebar-card *ngFor="let card of sidebarCards" [cardData]="card">
      </app-sidebar-card>
    </div>
  </div>
  <div class="content__sidebar-footer">
    <p class="content__sidebar-copyright">© ООО «Неткликс», 2024</p>
    <a href="#" class="content__sidebar-link">Политика конфиденциальности</a>
    <a href="#" class="content__sidebar-link">Обработка персональных данных</a>
  </div>
</aside>